<form class="room-add-form" (ngSubmit) = "onSubmit()">
  <h2>Add new room</h2>
  <input
    type="number"
    name="id"
    id="room_id"
    [(ngModel)]="id"
    placeholder="Room number"
  />
  <input
    type="number"
    name="beds"
    id="beds"
    [(ngModel)]="beds"
    placeholder="Number of beds"
  />
  <input
    type="text"
    name="balcony"
    id="balcony"
    [(ngModel)]="balcony"
    placeholder="Does room have balony? (yes/no)"
  />
  <input
    type="text"
    name="smoking"
    id="smoking"
    [(ngModel)]="smoking"
    placeholder="Is smoking allowed? (yes/no)"
  />

  <input
  type="text"
  name="about"
  id="about"
  [(ngModel)]="about"
  placeholder="About room..."
/>

  <button type="submit" class="btn"
  >Add</button>
</form>
