.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.container h1 {
   padding: 1em 0;
}
/* .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
} */