.room {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    width: 210px;
    gap: 1em;
    background-color: #ececec;
    box-shadow: 5px 6px 19px -4px rgba(0,0,0,0.75);
    border-radius: 15px;
}
.actions {
    display: flex;
    justify-content: space-between;
}
.action-btn {
    padding: 0.7em 1em;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
#update {
    background-color: rgb(53, 121, 246);
}
#delete {
    background-color: rgb(203, 68, 74);
}